﻿@using System.Configuration

@{
    ViewBag.Title = "Index";
}

<h2>Claims</h2>

<dl>
    @foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
    {
        <dt>
            @claim.Type
        </dt>
        
        <dd>
            @claim.Value
        </dd>
    }
</dl>

<p>
    @Html.ActionLink("Call service", "CallService")
</p>

<p>
    @Html.ActionLink("Refresh token", "RefreshToken")
</p>

<p>
    @Html.ActionLink("Revoke access token", "RevokeAccessToken")
</p>

<p>
    @Html.ActionLink("Revoke refresh token", "RevokeRefreshToken")
</p>

<p>
    @{
        var permissionsUrl = ConfigurationManager.AppSettings["ServerBaseUri"] + "/permissions";
    }
    <a href=@permissionsUrl target="_blank">Permissions</a>
</p>